# 依赖与包管理器
node_modules/
.pnpm-store/
package-lock.json
yarn.lock
pnpm-lock.yaml

# 编译结果与过程文件
dist/
dist-ssr/
*.local
.cache/
.vite/
.parcel-cache/

# Docker
*.tar
*.log

# 编辑器与系统冗余
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 环境配置 (敏感信息)
.env
.env.local
.env.*.local
